cosine_models/AWS_VM_library.txt
cosine_models/AZURE_VM_library.txt
cosine_models/GCP_VM_library.txt
cosine_models/build/
/home/subarna/CosineCodeBase/hybrid_de/src/bulkwrite.txt
/home/subarna/CosineCodeBase/hybrid_de/src/workload.txt


